<!doctype html>
<html>
<head>
        <meta charset="UTF-8">
	<title>{{ this.pageTitle }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="/css/main.min.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>

<div class="container">
	{{ block('content') }}
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
{{ block('script') }}

<!-- {{ App.numberFormatter.formatDecimal(Yii.getLogger().getExecutionTime() * 1000) }} msec | {{ App.numberFormatter.formatDecimal(Yii.getLogger().getMemoryUsage() / 1048576) }} Mb -->
</body>
</html>